/Ex01_Variable.class
/Ex02_Char.class
/Ex03_Byte.class
/Ex04_Int.class
/Ex05_Long.class
/Ex06_FloatDouble.class
/Ex07_Boolean.class
/Ex08_Triangle.class
/Ex09_Circle.class
/Ex10_AssignmentOperator.class
/Ex11_ArithmeticOperator.class
/Ex12_PlusMinusOperator.class
/Ex13_LogicalOperator.class
/Ex14_BitOperator.class
/Ex15_TernaryOperator.class
