/AnonymousPerson$1.class
/AnonymousPerson$2.class
/AnonymousPerson.class
/AnonymousPersonTest$1.class
/AnonymousPersonTest.class
/Person.class
/RemoteControl.class
/RemoteControlTest$1.class
/RemoteControlTest.class
