/Ex01_Array.class
/Ex02_Max.class
/Ex03_Min.class
/Ex04_Foreach.class
/Ex05_Arrays.class
/Ex06_Arrays.class
/Ex07_Enum.class
/Ex08_Todo.class
/Ex09_String.class
/Rainbow.class
/Status.class
/Test.class
/Todo.class
