/Calculator.class
/FuncInterface1.class
/FuncInterface2.class
/FuncInterface3.class
/FuncInterface4.class
/GenericFuncInterface.class
/LambdaFormat.class
/LambdaParameter.class
/LambdaReturn.class
/LambdaTset$1.class
/LambdaTset$2.class
/LambdaTset$3.class
/LambdaTset.class
/MyFunc.class
/PrintString.class
/RemoteControl.class
/SmartCalc.class
/SuperFunc.class
/Television.class
